header{
	width: 1250px;
	padding-top: 20px;
	
}
header ul{
	 float: right;

}
header li{
	list-style: none;
	display: inline;
	margin: 0 10px;
}
.logo a{
	color: #de5d83;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color:rgba(255,182,193, 0.8);
}

.button{
	background-color: #de5d83;
	border: 2px solid #de5d83;
	color: purple;
}
.logo{
	font-family: lucida;
	font-size: 60px;
	font-style: italic;
	border: 5px dashed purple;
	background-color: #ffffff;
	width: 200px;
	clear: both;
	text-align: center;
	padding: 5px;
	color:  #de5d83;
	margin-left: 30px;
	display: inline;
}
.logo:hover{
	color:rgba(255,182,193, 0.8);
}
main{
	padding: 0 35px;
}
aside{
	float: left;
	width: 750px;
	clear: both;
	padding-top: 30px;
}
rightnav{
	float: right;
	width: 450px;
	margin-right: 30px;
	padding-top: 30px;
}
article img{
	float: left;
	clear: both;
	max-width: 100px;
	margin-right: 10px;
}
.details{
	font-style: italic;
}
form{
	padding-top: 0 80px;

}
form submit{
	background-color: #de5d83;
	border: 2px solid #de5d83;
	color: purple;
}
article button{
	float: right;
}
section form{
	border-style: solid gray;
}
.subscribe{
	padding: 0 100px;
}
.postlists{
	padding: 0;
}
input[type=submit]{
	margin: 15px 80px;
	border-radius: 5px solid  #de5d83;
	color: white;
	background-color: #de5d83;
}
input[type=submit]:hover{
     color:rgba(255,182,193, 0.8);
}
input[type=button]{
	float: right;
	margin: 5px;
}